@model EmpleadoModel // se utiliza la clase en el formulario
@{
    ViewData["Title"] = "Exito";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-body">
         <dialog open id="modal">
             <h2 class="Inserccion">Inserccion Exitosa</h2>
             <a asp-action="Listar" asp-controller="Empleado" class="btn btn-success">OK</a>
         </dialog>
    </div>
</div>