@model EmpleadoModel  // se utiliza la clase en el formulario
@{
    ViewData["Title"] = "Insertar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="card">
    <div class="card-header">
        Insertar Empleado
    </div>
    <div class="card-body">
        
        <form asp-action="Insertar" asp-controller="Empleado" method="post">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Nombre" type="text" class="form-control">
            </div>
            <div class="mb-3">
                <label class="form-label">Salario</label> 
                <input asp-for="Salario" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Insertar</button>
        </form>
    </div>
</div>